[submodule "extern/pybind11"]
	path = extern/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = stable

[submodule "girgs"]
	path = girgs
	url = https://github.com/chistopher/girgs.git
	branch = master